<section class="py-5" th:fragment="filmes(filmes)">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="f : ${filmes}" th:object="${f}">
                <div class="card h-100">
                    <img class="card-img-top" th:src="@{'/images/' + *{imagemUri}}" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder" th:text="*{titulo}"></h5>
                            <div class="justify-content-center small text-dark mb-2">
                                ID:<div class="bi-star-fill" th:text="*{id}"></div><br/>
                                Sinopse:<div class="bi-star-fill" th:text="*{sinopse}"></div><br/>
                                Diretor:<div class="bi-star-fill" th:text="*{diretor}"></div><br/>
                                Avaliação:<div class="bi-star-fill" th:text="*{avaliacao}"></div><br/>
                                Lançamento:<div class="bi-star-fill" th:text="*{lancamento}"></div><br/>
                            </div>
                            R$<p th:text="*{preco}"></p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/adicionarCarrinho/{id}(id=${f.id})}">Adicionar ao carrinho</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>